<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="476"/>
<entry key="0" type="xstring" value="dim"/>
<entry key="1" type="xstring" value="sum"/>
<entry key="2" type="xstring" value="wife"/>
<entry key="3" type="xstring" value="citi"/>
<entry key="4" type="xstring" value="view"/>
<entry key="5" type="xstring" value="restaur"/>
<entry key="6" type="xstring" value="lunch"/>
<entry key="7" type="xstring" value="past"/>
<entry key="8" type="xstring" value="meal"/>
<entry key="9" type="xstring" value="ve"/>
<entry key="10" type="xstring" value="eaten"/>
<entry key="11" type="xstring" value="spectacular"/>
<entry key="12" type="xstring" value="visit"/>
<entry key="13" type="xstring" value="dish"/>
<entry key="14" type="xstring" value="tri"/>
<entry key="15" type="xstring" value="mediocr"/>
<entry key="16" type="xstring" value="complet"/>
<entry key="17" type="xstring" value="surpris"/>
<entry key="18" type="xstring" value="flavor"/>
<entry key="19" type="xstring" value="hole"/>
<entry key="20" type="xstring" value="wall"/>
<entry key="21" type="xstring" value="recommend"/>
<entry key="22" type="xstring" value="famili"/>
<entry key="23" type="xstring" value="decent"/>
<entry key="24" type="xstring" value="food"/>
<entry key="25" type="xstring" value="serv"/>
<entry key="26" type="xstring" value="call"/>
<entry key="27" type="xstring" value="tea"/>
<entry key="28" type="xstring" value="hous"/>
<entry key="29" type="xstring" value="fresh"/>
<entry key="30" type="xstring" value="tast"/>
<entry key="31" type="xstring" value="smell"/>
<entry key="32" type="xstring" value="server"/>
<entry key="33" type="xstring" value="cart"/>
<entry key="34" type="xstring" value="expect"/>
<entry key="35" type="xstring" value="arriv"/>
<entry key="36" type="xstring" value="yank"/>
<entry key="37" type="xstring" value="sing"/>
<entry key="38" type="xstring" value="walk"/>
<entry key="39" type="xstring" value="found"/>
<entry key="40" type="xstring" value="nice"/>
<entry key="41" type="xstring" value="clean"/>
<entry key="42" type="xstring" value="appreci"/>
<entry key="43" type="xstring" value="tabl"/>
<entry key="44" type="xstring" value="menu"/>
<entry key="45" type="xstring" value="ladi"/>
<entry key="46" type="xstring" value="stop"/>
<entry key="47" type="xstring" value="sf"/>
<entry key="48" type="xstring" value="hotel"/>
<entry key="49" type="xstring" value="experi"/>
<entry key="50" type="xstring" value="china"/>
<entry key="51" type="xstring" value="town"/>
<entry key="52" type="xstring" value="nank"/>
<entry key="53" type="xstring" value="italian"/>
<entry key="54" type="xstring" value="look"/>
<entry key="55" type="xstring" value="make"/>
<entry key="56" type="xstring" value="awesom"/>
<entry key="57" type="xstring" value="rememb"/>
<entry key="58" type="xstring" value="return"/>
<entry key="59" type="xstring" value="eat"/>
<entry key="60" type="xstring" value="time"/>
<entry key="61" type="xstring" value="perfect"/>
<entry key="62" type="xstring" value="dine"/>
<entry key="63" type="xstring" value="love"/>
<entry key="64" type="xstring" value="hour"/>
<entry key="65" type="xstring" value="hungri"/>
<entry key="66" type="xstring" value="impress"/>
<entry key="67" type="xstring" value="wow"/>
<entry key="68" type="xstring" value="busi"/>
<entry key="69" type="xstring" value="lot"/>
<entry key="70" type="xstring" value="fun"/>
<entry key="71" type="xstring" value="reserv"/>
<entry key="72" type="xstring" value="seat"/>
<entry key="73" type="xstring" value="chinatown"/>
<entry key="74" type="xstring" value="wine"/>
<entry key="75" type="xstring" value="bar"/>
<entry key="76" type="xstring" value="happi"/>
<entry key="77" type="xstring" value="authent"/>
<entry key="78" type="xstring" value="delici"/>
<entry key="79" type="xstring" value="owner"/>
<entry key="80" type="xstring" value="line"/>
<entry key="81" type="xstring" value="door"/>
<entry key="82" type="xstring" value="wait"/>
<entry key="83" type="xstring" value="classic"/>
<entry key="84" type="xstring" value="own"/>
<entry key="85" type="xstring" value="reason"/>
<entry key="86" type="xstring" value="stay"/>
<entry key="87" type="xstring" value="close"/>
<entry key="88" type="xstring" value="day"/>
<entry key="89" type="xstring" value="select"/>
<entry key="90" type="xstring" value="fine"/>
<entry key="91" type="xstring" value="littl"/>
<entry key="92" type="xstring" value="joint"/>
<entry key="93" type="xstring" value="trip"/>
<entry key="94" type="xstring" value="san"/>
<entry key="95" type="xstring" value="francisco"/>
<entry key="96" type="xstring" value="check"/>
<entry key="97" type="xstring" value="advisor"/>
<entry key="98" type="xstring" value="disappoint"/>
<entry key="99" type="xstring" value="ate"/>
<entry key="100" type="xstring" value="saturday"/>
<entry key="101" type="xstring" value="weekend"/>
<entry key="102" type="xstring" value="crowd"/>
<entry key="103" type="xstring" value="base"/>
<entry key="104" type="xstring" value="eggplant"/>
<entry key="105" type="xstring" value="deliv"/>
<entry key="106" type="xstring" value="dinner"/>
<entry key="107" type="xstring" value="amaz"/>
<entry key="108" type="xstring" value="peopl"/>
<entry key="109" type="xstring" value="rang"/>
<entry key="110" type="xstring" value="salad"/>
<entry key="111" type="xstring" value="white"/>
<entry key="112" type="xstring" value="pizza"/>
<entry key="113" type="xstring" value="kid"/>
<entry key="114" type="xstring" value="sampl"/>
<entry key="115" type="xstring" value="homemad"/>
<entry key="116" type="xstring" value="ravioli"/>
<entry key="117" type="xstring" value="light"/>
<entry key="118" type="xstring" value="dessert"/>
<entry key="119" type="xstring" value="share"/>
<entry key="120" type="xstring" value="north"/>
<entry key="121" type="xstring" value="beach"/>
<entry key="122" type="xstring" value="gem"/>
<entry key="123" type="xstring" value="decor"/>
<entry key="124" type="xstring" value="friend"/>
<entry key="125" type="xstring" value="staff"/>
<entry key="126" type="xstring" value="treat"/>
<entry key="127" type="xstring" value="attent"/>
<entry key="128" type="xstring" value="hot"/>
<entry key="129" type="xstring" value="oliv"/>
<entry key="130" type="xstring" value="oil"/>
<entry key="131" type="xstring" value="main"/>
<entry key="132" type="xstring" value="cours"/>
<entry key="133" type="xstring" value="prepar"/>
<entry key="134" type="xstring" value="watch"/>
<entry key="135" type="xstring" value="neighborhood"/>
<entry key="136" type="xstring" value="block"/>
<entry key="137" type="xstring" value="fisherman"/>
<entry key="138" type="xstring" value="wharf"/>
<entry key="139" type="xstring" value="wonder"/>
<entry key="140" type="xstring" value="servic"/>
<entry key="141" type="xstring" value="relax"/>
<entry key="142" type="xstring" value="qualiti"/>
<entry key="143" type="xstring" value="price"/>
<entry key="144" type="xstring" value="minut"/>
<entry key="145" type="xstring" value="spot"/>
<entry key="146" type="xstring" value="rate"/>
<entry key="147" type="xstring" value="caff"/>
<entry key="148" type="xstring" value="baonecci"/>
<entry key="149" type="xstring" value="tini"/>
<entry key="150" type="xstring" value="kitchen"/>
<entry key="151" type="xstring" value="rest"/>
<entry key="152" type="xstring" value="ingredi"/>
<entry key="153" type="xstring" value="decid"/>
<entry key="154" type="xstring" value="averag"/>
<entry key="155" type="xstring" value="set"/>
<entry key="156" type="xstring" value="wonton"/>
<entry key="157" type="xstring" value="soup"/>
<entry key="158" type="xstring" value="combin"/>
<entry key="159" type="xstring" value="plate"/>
<entry key="160" type="xstring" value="spring"/>
<entry key="161" type="xstring" value="roll"/>
<entry key="162" type="xstring" value="crispi"/>
<entry key="163" type="xstring" value="meat"/>
<entry key="164" type="xstring" value="pot"/>
<entry key="165" type="xstring" value="sticker"/>
<entry key="166" type="xstring" value="local"/>
<entry key="167" type="xstring" value="adventur"/>
<entry key="168" type="xstring" value="agre"/>
<entry key="169" type="xstring" value="chang"/>
<entry key="170" type="xstring" value="locat"/>
<entry key="171" type="xstring" value="chef"/>
<entry key="172" type="xstring" value="outstand"/>
<entry key="173" type="xstring" value="fabul"/>
<entry key="174" type="xstring" value="simpl"/>
<entry key="175" type="xstring" value="coupl"/>
<entry key="176" type="xstring" value="help"/>
<entry key="177" type="xstring" value="night"/>
<entry key="178" type="xstring" value="tommaso"/>
<entry key="179" type="xstring" value="warm"/>
<entry key="180" type="xstring" value="welcom"/>
<entry key="181" type="xstring" value="queue"/>
<entry key="182" type="xstring" value="glass"/>
<entry key="183" type="xstring" value="oven"/>
<entry key="184" type="xstring" value="week"/>
<entry key="185" type="xstring" value="sat"/>
<entry key="186" type="xstring" value="piec"/>
<entry key="187" type="xstring" value="histori"/>
<entry key="188" type="xstring" value="alley"/>
<entry key="189" type="xstring" value="mean"/>
<entry key="190" type="xstring" value="tasti"/>
<entry key="191" type="xstring" value="itali"/>
<entry key="192" type="xstring" value="pasta"/>
<entry key="193" type="xstring" value="mention"/>
<entry key="194" type="xstring" value="touch"/>
<entry key="195" type="xstring" value="mushroom"/>
<entry key="196" type="xstring" value="sauc"/>
<entry key="197" type="xstring" value="real"/>
<entry key="198" type="xstring" value="waiter"/>
<entry key="199" type="xstring" value="book"/>
<entry key="200" type="xstring" value="smile"/>
<entry key="201" type="xstring" value="choos"/>
<entry key="202" type="xstring" value="consid"/>
<entry key="203" type="xstring" value="world"/>
<entry key="204" type="xstring" value="excel"/>
<entry key="205" type="xstring" value="plenti"/>
<entry key="206" type="xstring" value="parti"/>
<entry key="207" type="xstring" value="learn"/>
<entry key="208" type="xstring" value="expens"/>
<entry key="209" type="xstring" value="style"/>
<entry key="210" type="xstring" value="atmospher"/>
<entry key="211" type="xstring" value="quiet"/>
<entry key="212" type="xstring" value="romant"/>
<entry key="213" type="xstring" value="mind"/>
<entry key="214" type="xstring" value="sit"/>
<entry key="215" type="xstring" value="re"/>
<entry key="216" type="xstring" value="feel"/>
<entry key="217" type="xstring" value="list"/>
<entry key="218" type="xstring" value="empress"/>
<entry key="219" type="xstring" value="lack"/>
<entry key="220" type="xstring" value="top"/>
<entry key="221" type="xstring" value="seafood"/>
<entry key="222" type="xstring" value="item"/>
<entry key="223" type="xstring" value="cook"/>
<entry key="224" type="xstring" value="chanc"/>
<entry key="225" type="xstring" value="glad"/>
<entry key="226" type="xstring" value="free"/>
<entry key="227" type="xstring" value="chines"/>
<entry key="228" type="xstring" value="pack"/>
<entry key="229" type="xstring" value="famous"/>
<entry key="230" type="xstring" value="sesam"/>
<entry key="231" type="xstring" value="chicken"/>
<entry key="232" type="xstring" value="terrif"/>
<entry key="233" type="xstring" value="tour"/>
<entry key="234" type="xstring" value="thin"/>
<entry key="235" type="xstring" value="crust"/>
<entry key="236" type="xstring" value="miss"/>
<entry key="237" type="xstring" value="overwhelm"/>
<entry key="238" type="xstring" value="review"/>
<entry key="239" type="xstring" value="greet"/>
<entry key="240" type="xstring" value="truffl"/>
<entry key="241" type="xstring" value="enjoy"/>
<entry key="242" type="xstring" value="cozi"/>
<entry key="243" type="xstring" value="parmesan"/>
<entry key="244" type="xstring" value="care"/>
<entry key="245" type="xstring" value="district"/>
<entry key="246" type="xstring" value="lasagna"/>
<entry key="247" type="xstring" value="fantast"/>
<entry key="248" type="xstring" value="worth"/>
<entry key="249" type="xstring" value="fran"/>
<entry key="250" type="xstring" value="build"/>
<entry key="251" type="xstring" value="dumpl"/>
<entry key="252" type="xstring" value="pork"/>
<entry key="253" type="xstring" value="option"/>
<entry key="254" type="xstring" value="start"/>
<entry key="255" type="xstring" value="bit"/>
<entry key="256" type="xstring" value="panta"/>
<entry key="257" type="xstring" value="rei"/>
<entry key="258" type="xstring" value="compar"/>
<entry key="259" type="xstring" value="american"/>
<entry key="260" type="xstring" value="read"/>
<entry key="261" type="xstring" value="sweet"/>
<entry key="262" type="xstring" value="mix"/>
<entry key="263" type="xstring" value="entre"/>
<entry key="264" type="xstring" value="park"/>
<entry key="265" type="xstring" value="fill"/>
<entry key="266" type="xstring" value="special"/>
<entry key="267" type="xstring" value="beef"/>
<entry key="268" type="xstring" value="left"/>
<entry key="269" type="xstring" value="duck"/>
<entry key="270" type="xstring" value="linguin"/>
<entry key="271" type="xstring" value="portion"/>
<entry key="272" type="xstring" value="quick"/>
<entry key="273" type="xstring" value="includ"/>
<entry key="274" type="xstring" value="tip"/>
<entry key="275" type="xstring" value="valu"/>
<entry key="276" type="xstring" value="heart"/>
<entry key="277" type="xstring" value="6th"/>
<entry key="278" type="xstring" value="floor"/>
<entry key="279" type="xstring" value="comfort"/>
<entry key="280" type="xstring" value="tradit"/>
<entry key="281" type="xstring" value="dress"/>
<entry key="282" type="xstring" value="black"/>
<entry key="283" type="xstring" value="school"/>
<entry key="284" type="xstring" value="empti"/>
<entry key="285" type="xstring" value="standard"/>
<entry key="286" type="xstring" value="cheer"/>
<entry key="287" type="xstring" value="bread"/>
<entry key="288" type="xstring" value="columbus"/>
<entry key="289" type="xstring" value="live"/>
<entry key="290" type="xstring" value="huge"/>
<entry key="291" type="xstring" value="bottl"/>
<entry key="292" type="xstring" value="pleasant"/>
<entry key="293" type="xstring" value="true"/>
<entry key="294" type="xstring" value="suggest"/>
<entry key="295" type="xstring" value="lamb"/>
<entry key="296" type="xstring" value="type"/>
<entry key="297" type="xstring" value="luck"/>
<entry key="298" type="xstring" value="choic"/>
<entry key="299" type="xstring" value="bake"/>
<entry key="300" type="xstring" value="generous"/>
<entry key="301" type="xstring" value="effici"/>
<entry key="302" type="xstring" value="son"/>
<entry key="303" type="xstring" value="yummi"/>
<entry key="304" type="xstring" value="super"/>
<entry key="305" type="xstring" value="greasi"/>
<entry key="306" type="xstring" value="deal"/>
<entry key="307" type="xstring" value="diner"/>
<entry key="308" type="xstring" value="easi"/>
<entry key="309" type="xstring" value="like"/>
<entry key="310" type="xstring" value="bun"/>
<entry key="311" type="xstring" value="brought"/>
<entry key="312" type="xstring" value="get"/>
<entry key="313" type="xstring" value="aw"/>
<entry key="314" type="xstring" value="worst"/>
<entry key="315" type="xstring" value="hope"/>
<entry key="316" type="xstring" value="bad"/>
<entry key="317" type="xstring" value="financi"/>
<entry key="318" type="xstring" value="street"/>
<entry key="319" type="xstring" value="beauti"/>
<entry key="320" type="xstring" value="absolut"/>
<entry key="321" type="xstring" value="am"/>
<entry key="322" type="xstring" value="cant"/>
<entry key="323" type="xstring" value="question"/>
<entry key="324" type="xstring" value="short"/>
<entry key="325" type="xstring" value="children"/>
<entry key="326" type="xstring" value="cold"/>
<entry key="327" type="xstring" value="accommod"/>
<entry key="328" type="xstring" value="cheap"/>
<entry key="329" type="xstring" value="figur"/>
<entry key="330" type="xstring" value="told"/>
<entry key="331" type="xstring" value="move"/>
<entry key="332" type="xstring" value="hunan"/>
<entry key="333" type="xstring" value="green"/>
<entry key="334" type="xstring" value="bean"/>
<entry key="335" type="xstring" value="home"/>
<entry key="336" type="xstring" value="vacat"/>
<entry key="337" type="xstring" value="orang"/>
<entry key="338" type="xstring" value="deem"/>
<entry key="339" type="xstring" value="beer"/>
<entry key="340" type="xstring" value="egg"/>
<entry key="341" type="xstring" value="travel"/>
<entry key="342" type="xstring" value="guid"/>
<entry key="343" type="xstring" value="outsid"/>
<entry key="344" type="xstring" value="rush"/>
<entry key="345" type="xstring" value="husband"/>
<entry key="346" type="xstring" value="beaten"/>
<entry key="347" type="xstring" value="cost"/>
<entry key="348" type="xstring" value="drink"/>
<entry key="349" type="xstring" value="delight"/>
<entry key="350" type="xstring" value="incred"/>
<entry key="351" type="xstring" value="pricey"/>
<entry key="352" type="xstring" value="varieti"/>
<entry key="353" type="xstring" value="gnocchi"/>
<entry key="354" type="xstring" value="favorit"/>
<entry key="355" type="xstring" value="picki"/>
<entry key="356" type="xstring" value="chees"/>
<entry key="357" type="xstring" value="prompt"/>
<entry key="358" type="xstring" value="hang"/>
<entry key="359" type="xstring" value="ok"/>
<entry key="360" type="xstring" value="fast"/>
<entry key="361" type="xstring" value="sour"/>
<entry key="362" type="xstring" value="sign"/>
<entry key="363" type="xstring" value="tiramisu"/>
<entry key="364" type="xstring" value="die"/>
<entry key="365" type="xstring" value="extra"/>
<entry key="366" type="xstring" value="prawn"/>
<entry key="367" type="xstring" value="sunday"/>
<entry key="368" type="xstring" value="steam"/>
<entry key="369" type="xstring" value="rice"/>
<entry key="370" type="xstring" value="bland"/>
<entry key="371" type="xstring" value="offer"/>
<entry key="372" type="xstring" value="charm"/>
<entry key="373" type="xstring" value="profession"/>
<entry key="374" type="xstring" value="leav"/>
<entry key="375" type="xstring" value="wrap"/>
<entry key="376" type="xstring" value="pleas"/>
<entry key="377" type="xstring" value="wrong"/>
<entry key="378" type="xstring" value="see"/>
<entry key="379" type="xstring" value="tripadvisor"/>
<entry key="380" type="xstring" value="come"/>
<entry key="381" type="xstring" value="fri"/>
<entry key="382" type="xstring" value="calamari"/>
<entry key="383" type="xstring" value="appet"/>
<entry key="384" type="xstring" value="scallop"/>
<entry key="385" type="xstring" value="music"/>
<entry key="386" type="xstring" value="shrimp"/>
<entry key="387" type="xstring" value="veget"/>
<entry key="388" type="xstring" value="chose"/>
<entry key="389" type="xstring" value="hard"/>
<entry key="390" type="xstring" value="tourist"/>
<entry key="391" type="xstring" value="caesar"/>
<entry key="392" type="xstring" value="concierg"/>
<entry key="393" type="xstring" value="stumbl"/>
<entry key="394" type="xstring" value="quaint"/>
<entry key="395" type="xstring" value="ball"/>
<entry key="396" type="xstring" value="waitress"/>
<entry key="397" type="xstring" value="slow"/>
<entry key="398" type="xstring" value="pleasur"/>
<entry key="399" type="xstring" value="talk"/>
<entry key="400" type="xstring" value="date"/>
<entry key="401" type="xstring" value="size"/>
<entry key="402" type="xstring" value="popular"/>
<entry key="403" type="xstring" value="ta"/>
<entry key="404" type="xstring" value="tutto"/>
<entry key="405" type="xstring" value="qua"/>
<entry key="406" type="xstring" value="ambianc"/>
<entry key="407" type="xstring" value="potstick"/>
<entry key="408" type="xstring" value="sister"/>
<entry key="409" type="xstring" value="abl"/>
<entry key="410" type="xstring" value="fior"/>
<entry key="411" type="xstring" value="ditalia"/>
<entry key="412" type="xstring" value="brunch"/>
<entry key="413" type="xstring" value="pass"/>
<entry key="414" type="xstring" value="spinach"/>
<entry key="415" type="xstring" value="bring"/>
<entry key="416" type="xstring" value="mouth"/>
<entry key="417" type="xstring" value="hit"/>
<entry key="418" type="xstring" value="path"/>
<entry key="419" type="xstring" value="corner"/>
<entry key="420" type="xstring" value="ambienc"/>
<entry key="421" type="xstring" value="yum"/>
<entry key="422" type="xstring" value="dimsum"/>
<entry key="423" type="xstring" value="pane"/>
<entry key="424" type="xstring" value="vino"/>
<entry key="425" type="xstring" value="union"/>
<entry key="426" type="xstring" value="poor"/>
<entry key="427" type="xstring" value="di"/>
<entry key="428" type="xstring" value="grant"/>
<entry key="429" type="xstring" value="establish"/>
<entry key="430" type="xstring" value="pretti"/>
<entry key="431" type="xstring" value="run"/>
<entry key="432" type="xstring" value="superb"/>
<entry key="433" type="xstring" value="daughter"/>
<entry key="434" type="xstring" value="pick"/>
<entry key="435" type="xstring" value="salmon"/>
<entry key="436" type="xstring" value="high"/>
<entry key="437" type="xstring" value="person"/>
<entry key="438" type="xstring" value="touristi"/>
<entry key="439" type="xstring" value="finish"/>
<entry key="440" type="xstring" value="typic"/>
<entry key="441" type="xstring" value="peke"/>
<entry key="442" type="xstring" value="guy"/>
<entry key="443" type="xstring" value="regular"/>
<entry key="444" type="xstring" value="hear"/>
<entry key="445" type="xstring" value="sea"/>
<entry key="446" type="xstring" value="even"/>
<entry key="447" type="xstring" value="posit"/>
<entry key="448" type="xstring" value="cuisin"/>
<entry key="449" type="xstring" value="fair"/>
<entry key="450" type="xstring" value="wood"/>
<entry key="451" type="xstring" value="veal"/>
<entry key="452" type="xstring" value="play"/>
<entry key="453" type="xstring" value="star"/>
<entry key="454" type="xstring" value="melt"/>
<entry key="455" type="xstring" value="window"/>
<entry key="456" type="xstring" value="ad"/>
<entry key="457" type="xstring" value="hand"/>
<entry key="458" type="xstring" value="name"/>
<entry key="459" type="xstring" value="hidden"/>
<entry key="460" type="xstring" value="stuf"/>
<entry key="461" type="xstring" value="knowledg"/>
<entry key="462" type="xstring" value="fare"/>
<entry key="463" type="xstring" value="tomato"/>
<entry key="464" type="xstring" value="vegetarian"/>
<entry key="465" type="xstring" value="fish"/>
<entry key="466" type="xstring" value="ice"/>
<entry key="467" type="xstring" value="frequent"/>
<entry key="468" type="xstring" value="pay"/>
<entry key="469" type="xstring" value="lucki"/>
<entry key="470" type="xstring" value="custom"/>
<entry key="471" type="xstring" value="brief"/>
<entry key="472" type="xstring" value="ai"/>
<entry key="473" type="xstring" value="rude"/>
<entry key="474" type="xstring" value="terribl"/>
<entry key="475" type="xstring" value="Category"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Document"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.ext.textprocessing.data.DocumentValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Filter document%%00013%%00010column"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="487"/>
<entry key="y-coordinate" type="xint" value="-261"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="-1"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.0.2.v201909251340"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.0.2.v201909300912"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 594, Cols: 2198"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="29e622bc-1676-4808-93ed-6281531534bc"/>
</config>
</config>
